@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --orange: #ff4500;
    --light-color: #666;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-transform: capitalize;
}


body {
    font-family: 'Poppins', sans-serif;
    height: 1000px;
}

.title {
    font-size: 3.5rem;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 2rem;
}

.title span {
    color: var(--orange);
}

@keyframes fadeIn {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
}





/* ************************ */
/* ******** RESET ******** */

section {
    padding: 5rem 9%;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

i {
    cursor: pointer;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border: 3px solid black;
    text-transform: capitalize;
    color: black;
    margin-top: 2rem;
}

.btn:hover {
    background-color: var(--orange);
    color: #fff;
    border-color: var(--orange);
}





/* ************************ */
/* ******** HEADER ******** */

header {
    /* background-color: #90bcba; */
    background-color: #fff;
}

.header.sticky {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    position: relative;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: black;
}

.logo i {
    color: var(--orange);
    font-size: 60px;
}

.navbar .menuList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.navbar ul li a {
    color: black;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar ul li a:hover {
    color: var(--orange);
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.action i {
    font-size: 2.1rem;
}

.action i:hover {
    color: var(--orange);
    transition: 0.5s;
}

#menu-btn {
    display: none;
}

.login {
    position: absolute;
    top: 110%;
    right: 3rem;
    width: 35rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    z-index: 20000;
    padding: 2rem;
    display: none;
}

.login.active {
    display: block;
    animation: fadeIn .4s linear;
}

.login h3 {
    color: var(--orange);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.input-box {
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: black;
    margin: 1rem 0;
    border: none;
    border-bottom: 2px solid black;
}

.input-box::placeholder {
    text-transform: capitalize;
}

.remember {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light-color);
}

form .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    border-radius: .5rem;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    color: black;
    overflow: hidden;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.links a {
    font-size: 1.4rem;
    color: var(--orange);
}

.links a:hover {
    color: black;
    text-decoration: underline;
}





/* ************************ */
/* ******** HOME ******** */

.home {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url(./images/home.jpg);
}

.home .content {
    width: 50rem;
}

.home h3 {
    font-size: 6.5rem;
    color: black;
    line-height: 8rem;
}

.home h3 span {
    color: var(--orange);
}





/* ************************ */
/* ******** ABOUT ******** */

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .left-box {
    flex: 1 1 40rem;
}

.about .left-box img {
    width: 100%;
    object-fit: cover;
}

.about .right-box {
    flex: 1 1 40rem;
}

.about .right-box h2 {
    font-size: 7rem;
    font-family: 'Akronim', cursive;
}

.about .right-box h3 {
    font-size: 4rem;
}

.about .right-box p {
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .right-box span {
    color: var(--orange);
}





/* ************************ */
/* ******** PRODUCTS ******** */

.products-box {
    display: grid;
    grid-template-columns: repeat(3, 40rem);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px auto;

}

.products-box .box {
    position: relative;
    overflow: hidden;
}

.products-box .image {
    height: 50rem;
    width: 100%;
    overflow: hidden;
}

.products-box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products-box .box:hover .image img {
    transform: scale(1.1);
    transition: 0.5s;
}

.products-box .box:hover .icons {
    transform: translateX(0rem);
}

.products-box .box .icons {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 10;
    transform: translateX(10rem);
}

.products-box .box .icons a {
    display: block;
    background-color: white;
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 2.2rem;
    text-align: center;
}

.products-box .box .icons a:hover {
    color: white;
    background-color: var(--orange);
}

.products-box .box .product-desc {
    text-align: center;
    padding: 1rem 0;
}

.products-box .box .product-desc h3 {
    font-size: 2.2rem;
    color: black;
    padding-bottom: .5rem;
}

.products-box .box .product-desc .price {
    font-size: 2rem;
    color: var(--orange);
}





/* ************************ */
/* ******** SERVICES ******** */

.services {
    width: 100%;
    padding: 40px 0;
}

.service-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px 20px;
    margin: 30px auto;
    width: 95%;
}

.service-box .box {
    text-align: center;
    padding: 20px 10px;
    transition: 0.3s;
    margin: auto;
}

.service-box .box:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.service-box .box i {
    font-size: 50px;
    margin: 10px 10px;
    transition: ease-in-out 0.3s;
    color: var(--orange);

}

.services .service-box .box p {
    line-height: 22px;
    font-size: 15px;

}

.services .service-box h3 {
    margin: 10px 0;
    font-size: 20px;
}

.services .service-box .box a {
    font-size: 1.7rem;
    color: var(--orange);
}

.services .service-box .box a:hover {
    color: black;
    text-decoration: underline;
}





/* ************************ */
/* ******** FOOTER ******** */

.footer {
    padding: 70px 0;
    background-color: rgb(40, 36, 36);
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer .box {
    width: 25%;
    padding: 0 15px;
}

.footer .box .flex li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #bbbbbb;
}

.footer .box .footer-list li a:hover {
    color: var(--orange);
}

.footer .box .flex li address,
.footer .box .flex li p {
    font-size: 16px;
    font-weight: 300;
}

.footer .box .flex i {
    font-size: 20px;
}

.footer .box h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer .box h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--orange);
    height: 2px;
    width: 50px;
}

.footer .box ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer .box ul li a {
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
}





/* ************************ */
/* ******** RESPONSIVE ******** */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .box-container {
        padding: 2rem;
    }

    section {
        padding: 5rem 2rem;
    }

    .logo {
        font-size: 2.9rem;
    }

    .logo i {
        font-size: 45px;
    }

    .home {
        background-position: right;
    }

    .home .content h3 {
        font-size: 5.5rem;
        line-height: 6rem;
    }

    .products-box {
        grid-template-columns: repeat(2, 40rem);
    }

    .service-box {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 0px;
    }

    .service-box .box {
        width: 90%;
        margin: 1rem auto;
    }

    .service-box .box i {
        font-size: 45px;
    }

    .services .service-box .box p {
        line-height: 22px;
        font-size: 14px;
        margin: auto;
    }

    .services .service-box h3 {
        margin: 10px 0;
        font-size: 20px;
    }

    .row {
        justify-content: center;
    }

    .footer .box {
        width: 45%;
        padding: 0 15px;
        margin: 30px 0;
    }

    .footer .box .flex li {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #bbbbbb;
    }

    .footer .box .flex li address,
    .footer .box .flex li p {
        font-size: 16px;
        font-weight: 300;
    }

    .footer .box .flex i {
        font-size: 20px;
    }

    .footer .box h2 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }

    .footer .box h2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: var(--orange);
        height: 2px;
        width: 50px;
    }

    .footer .box ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer .box ul li a {
        font-size: 16px;
        color: #bbbbbb;
        font-weight: 300;
        display: block;
    }

}





@media (max-width:768px) {

    .logo {
        font-size: 2.5rem;
    }

    .logo i {
        font-size: 40px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 10;
    }

    .navbar .menuList {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #menu-btn {
        display: inline-block;
    }

    .home .content h3 {
        font-size: 5.5rem;
        line-height: 6rem;
    }


    .about {
        flex-direction: column;
    }

    .about .right-box {
        text-align: center;
    }

    .products-box {
        grid-template-columns: repeat(1, 48rem);
    }

    .products-box .image {
        height: 55rem;
    }

    .service-box {
        grid-template-columns: 1fr;
        grid-gap: 0px 0px;
    }

}





@media (max-width:630px) {
    .footer .box {
        width: 100%;
        margin: 30px;
    }
}





@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .login {
        width: 90%;
    }

    .home .content h3 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .footer .box {
        width: 100%;
        padding: 0 15px;
        margin: 30px 30px;
    }
    
    .products-box {
        grid-template-columns: repeat(1, 45rem);
    }

}
